# ignore everything
*.*
Documents/
Downloads/
Music/
Pictures/
snap/
temp
node_modules/
Yaru-Colors/

!README.md
!.gitignore

# emacs stuff
!.emacs
!.emacs.d/
.emacs.d/**/*
!.emacs.d/snippets/
!.emacs.d/snippets/*

!.zshrc
!.Xdefaults

!.config/
.config/**/*
!.config/sway/
!.config/sway/*
!.config/swaylock/
!.config/swaylock/**/*
!.config/waybar/
!.config/waybar/**/*
!.config/rofi/
!.config/rofi/**/*
!.config/base16-gnome-terminal/
!.config/base16-gnome-terminal/**/*
!.config/dunst/
!.config/dunst/**/*
!.config/gtk-2.0/
!.config/gtk-2.0/**/*
!.config/gtk-3.0/
!.config/gtk-3.0/**/*
!.config/gtk-4.0/
!.config/gtk-4.0/**/*

!backup.sh

!.spacemacs

# ignore emacs files
.#*w
*~
*#
.#*