*  {
    border:none;
    border-radius: 2;
    font-family: "FuraCode Nerd Font";
    font-size: 17px;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
}

window {
    color: #eff1f5;
    background: rgba(35, 31, 32, 0.00);
}

window#waybar.solo {
    color: #eff1f5;
    background: rgba(35, 31, 32, 0.00);
}

#workspaces {
    margin: 0px 6px 3px 10px;
}

#workspaces button {
    padding: 0 5px;
    color: #eff1f5;
}

#workspaces button.visible {
    color: #eff1f5;
}

#workspaces button:hover {
    color: white;
    background-color: RGBA(239, 241, 245, 0.2);
}

#workspaces button.focused {
    color: white;
    background-color: RGBA(239, 241, 245, 0.2);
}

#workspaces button.urgent {
    color: #bf616a;
}

#mode {
    color: white;
    background-color: RGBA(239, 241, 245, 0.2);
    /* background-color: RGBA(43, 48, 59, 0.7); /\* dark *\/ */
    margin: 0px 6px 3px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#window {
    color: white;
    margin: 0px 6px 3px 0px;
}

#battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #custom-background {
    color: white;
    /* background-color: RGBA(239, 241, 245, 0.2); */ /* light */
    background-color: RGBA(43, 48, 59, 0.7); /* dark */
    margin: 0px 6px 3px 0px;
    padding: 0px 10px;
    min-width: 25px;
}

#clock {
    color: white;

    background-color: RGBA(43, 48, 59, 0.7); /* dark */
    /* background-color: RGBA(239, 241, 245, 0.2); */ /* light */
    margin: 0px 3px 3px 0px;
    padding: 0px 10px;
    min-width: 140px;
}

#battery.warning {
    color: #ebcb8b;
}

#battery.critical {
    color: #bf616a;
}

#battery.charging {
    color: #eff1f5;
}
